.login-form {
    padding: 15px;
    width: max-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: grey;
    margin: 15px;
    &__field {
        margin-top: 10px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .submit-field {
        margin-top: 10px;
    }
}
